main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    text-align: center;

    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    a {
      display: inline-block;
      padding: 1rem 2rem;
      background-color: #0077cc;
      color: #fff;
      text-decoration: none;
      border-radius: 10px;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #0066b3;
      }
    }
  }
}
